body {
    margin: 0;    
}

.main {
    display: block;
    height: 450px;
    width: 450px;
    border: none;
    border-radius: 10px;
    background-color: #1F2937; 
    margin: 50px;
    padding: 50px; 
    color: #FFFFFF;
    font-family: Karla;     
}

h1 {
    padding-top: 30px;
    font-size: 40px;
    margin-bottom: 10px; 
}

.h1-green {
    color: #4ADF86;
}

h2 {
    padding: 0;
    margin: 10px 0 30px 0;
}

#generate-passw {
    background: #10B981;
    color: #FFFFFF;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 20px;  
    margin-bottom: 35px;
}

.line {
    display: block;
    height: 1px;
    width: 450px;
    background-color: #2F3E53;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#passw-1, #passw-2 {
    display: block;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #2F3E53;
    color: #10B981;
    padding-top: 10px;
    text-align: center;
    


    

}